* {
  text-align: center;
}

.navbar-nav {
  margin-left: 50px;
}

.nav-item {
  margin-left: 30px;
  font-size: 15px;
  width: 100px;
}

.nav-item:hover {
  background-color: rgba(112, 128, 144, 0.333);
  border-radius: 10px;
}